*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.app {
    background:aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 20px;
    grid-gap: 20px;
    height: 92vh;
}

.app-left{
    font-size:1.5rem
}

.app-right{
    background:yellow;
    padding: 20px;
    height: fit-content;
}

button {
    padding: 10px;
    color:turquoise;
    border: 1px solid;
    background-color:aliceblue;
    border-radius:5px;
    font-size: 1.5rem;
    transition: 0.2s;
    margin-top: 20px;
}

.feel {
    width: 100%;
}

button:hover {
    background-color:turquoise;
    color:aliceblue;
    cursor: pointer;
}

input, textarea {
    font-size:1.5rem;
    padding:5px
}

.col-2{
    display:grid;
    grid-template-columns: max-content 1fr;
    margin: 10px;
    grid-gap: 20px;
    align-items: center;
}

.entryHolder .col-3 {
    display:grid;
    grid-template-columns: repeat(3,max-content);
    grid-gap: 10px;
    place-items:center;
}

.entry {
    background: pink;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.num {
    border: 3px solid yellow;
    border-radius: 100%;
    padding: 8px;
}

.entryHolder {
    height: 70vh;
    overflow: scroll;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.holder h2 {
    padding: 0 10px ;
}

footer {
    background: black;
    color: white;
    text-align: right;
    font-size: 1.2rem;
    padding: 1rem;
    height: 8vh
}

textarea {
    width: 90%;
    margin: 10px 0;
    height: 200px;
}
// #app{
//     display: grid;
//     grid-auto-rows: minmax(150px, auto);
//     /* grid-template-columns:  */
//     height:100vh;
//     background: #f23557;
//     color: #f0d43a;
//     justify-content: center;
//     grid-gap: 1em;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
// }

// .holder{

// }

// .entry{
//     background: rgba(59, 74, 107, .4);
// }

// #entryHolder{

// }

// #date{

// }

// #temp{

// }

// #content{

// }

// .headline {

// }
// .title{

// }

// /*  Basic Styling To Override Default For Basic HTML Elements */
// label{
//     display:block;
//     font-size: 27px;
// }

// input, textarea{
//     display:block;
//     height: 60px;
//     width: 320px;
//     background:#22b2da;
//     color: #f0d43a;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
//     border: none;
// }

// button{
//     width: 400px;
//     height: 100px;
//     background: #3b4a6b;
//     color: #f0d43a;
//     font-size: 26px;
//     font-family: 'Oswald', sans-serif;
//     border: none;
//     box-shadow: 2px 4px 5px #444;
// }
// h1{
//     font-size: 36px;
// }

// textarea{
//     background:#22b2da;
//     color: #f0d43a;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
// }
// /* Reset style for HTML element on active to have no border*/
// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//     outline: none;
// }
// /* Style for Placeholder Text*/
// ::placeholder { /* Firefox, Chrome, Opera */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 
  
// :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 
  
// ::-ms-input-placeholder { /* Microsoft Edge */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 